@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

:root{
  --primary-color:#FDE68A;
  --button-color:#FBBF24;

}

body{
font-family: 'Architects Daughter', cursive;
margin:0;
}
textarea{
  display: block;
  width: 60%;
  margin: 1rem 0rem;
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
  height: 10vh;
  /* margin: 1rem; */

}

.container{
  /* padding: 2rem; */
  font-size: 2rem;
  text-align: center;
}
.navigation{
  background-color: var(--primary-color);
  color:black;
  padding: 0.5rem 5rem;
  border-radius: 1rem 2rem;
}

#myButton{
  background-color: var(--button-color);
  padding: 1rem 2rem;
  border-style: none;
  cursor: pointer;
  margin-left: 45%;
  border-radius: 0.5rem;
  font-family: inherit;
  
}
#myButton:hover, myButton:focus{
  background-color: var(--primary-color);
  
}

.footer{
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: var(--primary-color);
  padding: 2rem 0rem;
  text-align: center;
  color: black;
  border-radius: 1rem 2rem;
}

.footer .footer-header{
  font-size: large;
  font-weight: bold;
}

.footer .link{
  color:black
}

.list-non-bullet{
  list-style: none;
}

.list-item-inline{
  display:inline;
  padding: 0rem 0.5rem;
}
.navigation .link{
  color:black
}